<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        homepage
      </h1>

    </header>

    <main>

      
      <!---
      IF you want to have a random book on the home page
      
      
      <div><%= title %></div>
      <div><%= isbn %></div>
      <div><%= title %></div>
      <div><%= description %></div>
      <div><%= creator %></div>
      <div><%= oclc %></div>
      <div><%= rank %></div>
      <div><%= weeks %></div>
      <% subject.forEach(function(s) { %>
        <div>subject: <%= s%></div>
      <% }) %>     
      <div><%= publisher %></div>
      <div><%= review %></div>
      <div><%= cover %></div>
      <div><%- history %></div>    

      -->
      
      <!--- a second random book 
      <div><%= title2 %></div>
      <div><%= isbn2 %></div>
      <div><%= title2 %></div>
      <div><%= description2 %></div>
      <div><%= creator2 %></div>
      <div><%= oclc2 %></div>
      <div><%= rank2 %></div>
      <div><%= weeks2 %></div>
      <% subject2.forEach(function(s) { %>
        <div>subject: <%= s%></div>
      <% }) %>     
      <div><%= publisher2 %></div>
      <div><%= review2 %></div>
      <div><%= cover2 %></div>
      <div><%- history2 %></div>   
      --->
      
      <!--- a third random book 

      <div><%= title3 %></div>
      <div><%= isbn3 %></div>
      <div><%= title3 %></div>
      <div><%= description3 %></div>
      <div><%= creator3 %></div>
      <div><%= oclc3 %></div>
      <div><%= rank3 %></div>
      <div><%= weeks3 %></div>
      <% subject3.forEach(function(s) { %>
        <div>subject: <%= s%></div>
      <% }) %>     
      <div><%= publisher3 %></div>
      <div><%= review3 %></div>
      <div><%= cover3 %></div>
      <div><%- history3 %></div>   
      --->

      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
